@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

li {
    list-style-type: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

.contenedor__web {
    height: 100vh;
}

.contenedor__ancho {
    padding-left: 300px;
    padding-right: 300px;
    width: 100%;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: rgb(230, 200, 250);
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 1em 0 1em 0;
    /*margin: 0 auto;*/
}

h1 {
    font-size: 7em;
    color: rgb(81, 7, 151);
    text-transform: uppercase;
}

h2 {
    font-size: 2em;
    color: blueviolet;
    margin: 1em 0;
}

h3 {
    font-size: 1.8em;
    color: rgb(180, 100, 255);
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li a{
    text-decoration: none;
    font-size: 1.6em;
    color: black;
    margin: 1em;
}

a {
    text-decoration: none;
    display: flex;
    padding: 1rem;
    transition: all .5s;
}

ul li a:hover {
    color:white;
    background-color: blueviolet;
}
a:hover {
    color: white;
}
a:active {
    color: violet;
}

p {
    font-size: 1.5em;
}

.img__logo {
    height: 7em;
}

.logo__footer {
    height: 5em;
}
/*
.carrousel{
    background-image: url(../img/inicio-carrousel.jpeg);
    height: 90%;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(1,auto);
    grid-template-areas: 
        "carrousel";
    gap: 10px;
    animation-duration: 3s;
    animation-name: opacidad;
    animation-iteration-count:initial;
}*/

@keyframes opacidad {
    0% {
        opacity: 0;
        }
    100% {
      opacity: 1;
        }
}

.contenedor__ancho-home {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(1,auto);
    grid-template-areas: 
        "article_acercaDemi article_Blog article_Contacto" ;      
    gap: 10px;
}

.section__home {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 5em  5em 0;
    padding-left: 15%;
    padding-right: 15%;
}

.article__acercaDemi,
.article__blog,
.article__contacto {
    width: 90%;
    display: inline-block;
    padding: 3em;
    text-align: center;
    box-shadow: 2px 2px 5px #949494;
    border-radius: 1em;
}

.article__acercaDemi:hover,
.article__blog:hover,
.article__contacto:hover {
    transform: scale(1.04, 1.04);
    transition: all 0.5s ease;
}

.acercaDemi,
.blog,
.contactame {
    width: 80%;
    border-radius: 1em;
}


.banner__acercaDemi {
    background-image: url(../img/banner.jpg);
    height: 25em;
    display: flex;
}

.section__acercaDemi{
    display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: 1fr;
        grid-template-areas: 
            "imagen text text text";
        gap: 10px;
        margin-top: 3em;
}

.acercademi__mifoto {
    grid-area: imagen;
}
.article__sobremi {
    grid-area: text;
}

.acercademi__mifoto:hover {
    transform: scale(1.04, 1.04);
    transition: all 0.5s ease;
}

.section__acercaDemi-porfolio {
    display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: 1fr;
        grid-template-areas: 
            "text text text imagen";
        gap: 10px;
}

.article__portfolio {
    grid-area: text;
}

.section__proyectos {
        display: grid;
        grid-template-columns: repeat(4, 5fr);
        grid-template-rows: 1fr;
        grid-template-areas: 
            "proyectos proyectos proyectos proyectos";
        gap: 10px;
}

.article__portfolio {
    margin-top: 2em;
}

.article__sobremi{
    padding-left: 1em;
}

.article__portfolio p{
    padding-right: 1em;
}
.article__proyectos {
    width: 90%;
    padding: 2em;
    text-align: center;
    box-shadow: 2px 2px 5px #949494;
    animation-duration: 1s;
    animation-name: opac1;
    animation-iteration-count:infinite;   
    border-radius: 1em;
    margin-top: 2em;
}

@keyframes opac1 {
    0% {
        opacity: 0.5;
        }
    100% {
      opacity: 0.5;
        }
}

.article__proyectos:hover {
    transform: scale(1.04, 1.04);
    transition: all 0.5s ease;
    animation-duration: 1s;
    animation-name: opac2;
    animation-iteration-count:initial;
}

@keyframes opac2 {
    0% {
        opacity: 0.5;
        }
    100% {
      opacity: 1;
        }
}

.acercademi__mifoto {
    width: 100%;
    border-radius: 1em;
}

.acercademi__Porfolio {
    width: 20%;
    border-radius: 1em;
}

.proyectos {
    width: 80%;
    border-radius: 1em;
}
#cv {
    display: inline-block;
    background-color:violet;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    padding: 5px 20px;
    margin: 1em 0;
}

#cv:hover {
    transform: scale(1.04, 1.04);
    transition: all 0.5s ease;
    background-color: blueviolet;
}

.banner__blog {
    background-image: url(../img/banner.jpg);
    height: 25em;
    display: flex;
    margin: 2em;   
}

.section__blog{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blog__notas {
    width: 24%;
    padding: 3em;
    text-align: center;
    box-shadow: 2px 2px 5px #949494;
    border-radius: 1em;
    animation-duration: 1s;
    animation-name: opac1;
    animation-iteration-count:infinite;
    margin-top: 2em;   
}

@keyframes opac1 {
    0% {
        opacity: 0.5;
        }
    100% {
      opacity: 0.5;
        }
}

.blog__notas:hover {
    transform: scale(1.04, 1.04);
    transition: all 0.5s ease;
    animation-duration: 1s;
    animation-name: opac2;
    animation-iteration-count:initial;
}

@keyframes opac2 {
    0% {
        opacity: 0.5;
        }
    100% {
      opacity: 1;
        }
}


.blog__notas h3,
.article__proyectos h3 {
    margin: 1rem 0;
}

.categoria__blog {
    color: violet;
}

#blog__notas img{
    width: 100%;   
}

.verMas__blog {
    display: inline-block;
    background-color:violet;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    padding: 5px 20px;
    margin: 1em;
}

.banner__contacto {
    background-image: url(../img/banner.jpg);
    height: 25em;
    display: flex;
}

.formulario {
    padding: 2em;
    display: flex;
}

form {
    margin-right: 5em;
}

.titulo__form {
     text-align: center;
 }

label {
    font-size: 1.5em;
}

#button {
    font-size: 1.5em;  
    background-color: blueviolet;
    border-color: blueviolet; 
    margin-top: 2em;
}

form input,
textarea,
select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid  gray;
    margin: .5rem 0;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;   
}

 input:focus-visible,
 input:focus {
    border: 3px solid blueviolet;
 } 

#submit {
    background-color: blueviolet;
    border: solid 1px white;
    color: white;
    transition: all .5s;
}

#submit:hover {
 background-color: rgb(230, 200, 250);
 color: blueviolet;
 border: solid 1px blueviolet;
}

.img__contacto {
    width: 80%;
    border-radius: 1em;
}

.img__contacto:hover {
    animation-duration: 1s;
    animation-name: opac2;
    animation-iteration-count:initial;
}

@keyframes opac2 {
    0% {
        opacity: 0.5;
        }
    100% {
      opacity: 1;
        }
}



footer {
    background-color: rgb(230, 200, 250);
    width: 100%;
    display: flex;
    margin-top: 5rem;
}

.nav__footer {
    display: flex;
    align-items: center;
    
}

.footer__redes {
    display: flex;
    align-items: center;
}

.p__footer {
    font-style: italic;
    display: flex;
}

.p__footer a {
    text-decoration: none;
    color:violet;
    margin: 0 .5rem;
    padding: 0;
}

.p__footer a:hover {
    color: blueviolet;
}

.article__logoFooter {
    margin: 2em;
}

@media only screen and (min-width:320px)  {
    .contenedor__ancho nav ul  {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;   
        gap: 10px;
    }

    .carrousel{
        background-image: url(../img/inicio-carrousel.jpeg);
        height: 50%;
        background-position: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
            "carrousel";
        gap: 10px;
    }
    
    .carrousel .contenedor__ancho h1{
        font-size: 4em;
        color: rgb(81, 7, 151);
    }
    
    .contenedor__ancho-home {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
            "article_acercaDemi"
            "article_Blog"
            "article_Contacto" ;      
        gap: 10px;
    }

    .section__acercaDemi{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
           "imagen"
            "text";
        gap: 10px;
        margin-top: 3em;
    }
    
    .section__acercaDemi-porfolio {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
            "imagen"
            "text";
            gap: 10px;
    }
    
    .section__proyectos {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: 
                "proyectos"
                "proyectos"
                "proyectos"
                "proyectos";
            gap: 10px;
    }
    
}

@media only screen and (max-width:768px)  {
    .contenedor__ancho nav ul  {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;  
        gap: 10px;
    }

    .carrousel{
        background-image: url(../img/inicio-carrousel.jpeg);
        height: 50%;
        background-position: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
            "carrousel";
        gap: 10px;
    }
    
    .carrousel .contenedor__ancho h1{
        font-size: 4em;
        color: rgb(81, 7, 151);
    }
    
    .contenedor__ancho-home {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
            "article_acercaDemi"
            "article_Blog"
            "article_Contacto" ;      
        gap: 10px;
    }
    
    .section__acercaDemi{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
           "imagen"
            "text";
        gap: 10px;
        margin-top: 3em;
    }
    
    .section__acercaDemi-porfolio {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
            "imagen"
            "text";
            gap: 10px;
    }
    
    .section__proyectos {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, 1fr);
            grid-template-areas: 
                "proyectos"
                "proyectos"
                "proyectos"
                "proyectos";
            gap: 10px;
    }

    .section__blog {
        flex-direction: column;
    }

    .blog__notas {
        width: 100%;
    }
    .contenedor__ancho {
        padding: 0 30px
    }
}

@media only screen and (min-width:1024px)  {
    .contenedor__ancho nav ul{
        display: grid;
        grid-template-columns: repeat(7, auto);
        grid-template-rows: 1fr; 
        gap: 10px;
    }
    .carrousel{
        background-image: url(../img/inicio-carrousel.jpeg);
        height: 90%;
        background-position: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
            "carrousel";
        gap: 10px;
    }
    
    .carrousel .contenedor__ancho h1{
        font-size: 7em;
        color: rgb(81, 7, 151);
    }
    
    .contenedor__ancho-home {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: 1fr;
        grid-template-areas: 
            "article_acercaDemi"
            "article_Blog"
            "article_Contacto" ;      
        gap: 10px;
    }
    
.section__acercaDemi{
    display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: 1fr;
        grid-template-areas: 
            "imagen text text text";
        gap: 10px;
        margin-top: 3em;
}

.section__acercaDemi-porfolio {
    display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: 1fr;
        grid-template-areas: 
            "text text text imagen";
        gap: 10px;
}

.section__proyectos {
        display: grid;
        grid-template-columns: repeat(4, 5fr);
        grid-template-rows: 1fr;
        grid-template-areas: 
            "proyectos proyectos proyectos proyectos";
        gap: 10px;
    }


}